@font-face {
  font-family: 'Raleway';
  src: local('Raleway'),
    url('./Raleway-VariableFont_wght.woff') format('woff'),
    url('./Raleway-VariableFont_wght.woff2') format('woff2');
}

@font-face {
  font-family: 'Open-Sans';
  src: local('Open-Sans'),
    url('./OpenSans-VariableFont_wdth\,wght.woff') format('woff'),
    url('./OpenSans-VariableFont_wdth\,wght.woff2') format('woff2');
}